{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container main-container">
        
        <div class="row">
            <div class="c+++++++ol-lg-9">
                <h4 class="bold-title montserrat-bold">Add item to Portfolio</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 mt-3">
                <form action="{% url 'add_portfolio' %}" method="POST" class="add-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary mr-3 mt-3 rounded-pill " value="Add Portfolio">
                    <a href="{% url 'portfolios' %}" class="btn btn-secondary mt-3 rounded-pill">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

