{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container main-container">
        
        <div class="row">
            <div class="col-lg-9">
                <h2 class="bold-title montserrat-bold">Edit Portfolio</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 mt-3">
                <form action="{% url 'edit_portfolio' portfolio.id %}" method="POST" class="add-portfolio-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary mr-3 mt-3 rounded-pill " value="Update Portfolio">
                    <a href="{% url 'portfolios' %}" class="btn btn-secondary mt-3 rounded-pill">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

