{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid p-50">
        <div class="row">
            <div class="col-md-9">
                <h2 class="bold-title montserrat-bold">Portfolio</h2>
            </div>
        </div>
    </div>

    <section id="photos" class="bg-white mb-5">
        {% for portfolio in portfolios %}
            {% if portfolio.thumb_image %}
                <div class="image-zoom p-2">
                    <a href="{% url 'portfolio_detail' portfolio.id %}">
                        <img src="{{ portfolio.thumb_image.url }}" alt="{{ portfolio.name }}">
                    </a>
                </div>
            {% else %}
                <img src="{{ MEDIA_URL }}No_image.jpg" alt="{{ portfolio.name }}">
            {% endif %}
        {% endfor %}
    </section>
  


    <!-- Script for delete confirmation -->
    <script>
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this?');
        })
    </script>
{% endblock %}

