{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col">
                <h2 class="bold-title montserrat-bold">Shopping bag</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <p>{{ bag_items }}</p>
                {% else %}
                <p>Your bag is empty</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col shopping-bag-btn mt-5">
                <a href="{% url 'products' %}" class="btn btn-primary">Continue Shopping</a>
            </div>
        </div>
    </div>
{% endblock %}