{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid about-container">

        <div class="row" >
            <div class="col about-me">
                <h2 class="bold-title montserrat-bold">About Me</h2>
            </div>
        </div>

        <div class="row bg-white py-3">
            <div class="col-md-3 ">
                <img class="img-fluid ml-0 pl-4 rounded" src="{{ MEDIA_URL }}Vishal.png" alt="PowerPoint static image">
            </div>
            <div class="col-md-9 px-md-0 px-5">
                <h4 class="mt-3">Hi, Welcome to vDesign. My name is Vishal</h4>
                <p>I think of myslef as a problem solver who is also interested in the digital design space. I worked as a Document Designer for about 9 years before I also stepped into the web development space. Using my design skills along with my analytical skills needed for web development appealed to me. It started with a fun project to design a web page which got me hooked and since then I have been learning, creating and exploring both the frontend and backend aspects of the web. I started this website as personal freelance site where I can highlight my work, provide templates and also scribble down snippets of my thoughts as a blog. You have the option to get a quick quote for my work depending on your requirements from the Contact page.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 bg-blue about-me presentation-design-box ">
                <h5 class="bold-title montserrat-bold">Presentation Design</h5>
                <p>I stepped into the Presentation Design field not by choice but by chance. After my degree in Commerce, I worked in a few different fields before stumbling into this line of work. I started this as a temporary job in my head when I first started as a Business Presntation Designer in one of the biggest consulting firms McKinsey&Co. PowerPoint to me till then was a simple software which is used for presentations in colleges and universities but soon I realized the scope and possibilities of the software and fell in love with the work. I ended up working for the firm for more than 7 years. The design capability and flexibility of PowerPoint appealed to me which made me deep dive into its possibilites. I was soon designing presentations, proposals, interactive PDF and started integrating other design software into my armour like Adobe Photoshop, Illustrator and InDesign.</p>
            </div>
            <div class="col-md-6 bg-purple about-me web-design-box">
                <h5 class="bold-title montserrat-bold">Web Design</h5>
                <p>After years of working for McKinsey&Co in India, I moved to Ireland where I joined EY as a Presentation Designer for their Creative team. The digital space has always been very interesting to me, so I was taking opportunities in learning web design and development. My serious step into web design/development started when I got a fun project to develop a SharePoint for one of EY's core sections which includes many different teams. I delved deeper into the web development world for this project and was able to create visually pleasing, fully functional website. I was awarded EY Star Award for this project. As my interes5 in this field started growing, I started pursuing a diploma course in Full Stack Web Development with Code Institute to learn both frontend and backend. I have been creating different sites and projects in different frameworks and languages since then.</p>
            </div>
        </div>

    </div>
{% endblock %}