{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid about-container">

        <div class="row" >
            <div class="col about-me">
                <h2 class="home-title montserrat-bold">About Me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat, justo id porta ultricies, ante felis blandit lorem, sed sagittis augue purus in ipsum. Phasellus pharetra ex in interdum sodales. Sed nibh nulla, porta a placerat vel, aliquet feugiat eros. Cras sit amet lectus non nulla tincidunt imperdiet at ac nibh. Aliquam vestibulum sollicitudin odio, ac iaculis sapien rhoncus sit amet. Ut ut quam vel enim dignissim blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultricies varius nunc, et laoreet quam viverra a. Donec vel ex feugiat, semper neque ultrices, condimentum odio. Maecenas venenatis, tortor vel tincidunt gravida, est nisi venenatis sapien, molestie suscipit mauris urna sit amet turpis. Curabitur nec euismod mi. Etiam vel urna vestibulum, feugiat enim et, egestas felis. Proin hendrerit erat purus. Nam at tincidunt quam, eu sollicitudin lacus.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 bg-blue about-me presentation-design-box">
                <h4 class="home-title montserrat-bold">Presentation Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat, justo id porta ultricies, ante felis blandit lorem, sed sagittis augue purus in ipsum. Phasellus pharetra ex in interdum sodales. Sed nibh nulla, porta a placerat vel, aliquet feugiat eros. Cras sit amet lectus non nulla tincidunt imperdiet at ac nibh. Aliquam vestibulum sollicitudin odio, ac iaculis sapien rhoncus sit amet. Ut ut quam vel enim dignissim blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultricies varius nunc, et laoreet quam viverra a. Donec vel ex feugiat, semper neque ultrices, condimentum odio. Maecenas venenatis, tortor vel tincidunt gravida, est nisi venenatis sapien, molestie suscipit mauris urna sit amet turpis. Curabitur nec euismod mi. Etiam vel urna vestibulum, feugiat enim et, egestas felis. Proin hendrerit erat purus. Nam at tincidunt quam, eu sollicitudin lacus.</p>
            </div>
            <div class="col-md-6 bg-purple about-me web-design-box">
                <h4 class="home-title montserrat-bold">Web Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat, justo id porta ultricies, ante felis blandit lorem, sed sagittis augue purus in ipsum. Phasellus pharetra ex in interdum sodales. Sed nibh nulla, porta a placerat vel, aliquet feugiat eros. Cras sit amet lectus non nulla tincidunt imperdiet at ac nibh. Aliquam vestibulum sollicitudin odio, ac iaculis sapien rhoncus sit amet. Ut ut quam vel enim dignissim blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultricies varius nunc, et laoreet quam viverra a. Donec vel ex feugiat, semper neque ultrices, condimentum odio. Maecenas venenatis, tortor vel tincidunt gravida, est nisi venenatis sapien, molestie suscipit mauris urna sit amet turpis. Curabitur nec euismod mi. Etiam vel urna vestibulum, feugiat enim et, egestas felis. Proin hendrerit erat purus. Nam at tincidunt quam, eu sollicitudin lacus.</p>
            </div>
        </div>

    </div>
{% endblock %}