{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row" style="height: 600px;">
            <div class="col-md-6 p-3 bg-info text-white">Box 1
            </div>
            <div class="col-md-6 p-3 bg-light" >
                <h1>Presentation Designer | Web Designer</h1>
            </div>
        </div>
        <div class="row" style="height: 600px;">
            <div class="col-md-6 p-3 bg-light text-white">Box 1
            </div>
            <div class="col-md-6 p-3 bg-success" >Box 2
            </div>
        </div>
    </div>
{% endblock %}