{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="bold-title montserrat-bold">Thank you</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}.</strong></p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <a href="{% url 'products' %}" class="btn btn-primary rounded-pill py-2">Find more templates</a>
            </div>
        </div>
    </div>

{% endblock %}
