{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col">
                <h2 class="bold-title montserrat-bold">This is quote for PowerPoint project</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% for project in projects %}
                <p>{{project.client}}</p>
                <p>{{project.project_name}}</p>
                <p>{{project.quote}}</p>
                    <ul>
                        <li>{{project.requirements}}</li>
                    </ul>
                    <p>{{quote}}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>

    </div>
    
{% endblock %}

