{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid main-container bg-blue">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="bold-title montserrat-bold">Get a quote for PowerPoint project</h3>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <form action="{% url 'ppt_quote' %}" method="POST" class="ppt-quote-form">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary mr-3 mt-3 rounded-pill px-3 py-2" value="Get a quote">
                    <a href="{% url 'contact' %}" class="btn btn-secondary mt-3 rounded-pill px-3 py-2">Cancel</a>
                </form>
            </div>
        </div>

    </div>
    
{% endblock %}

