{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col">
                <h2 class="bold-title montserrat-bold">Click on your project name to get your quote</h2>
            </div>
        </div>

        <div class="row mt-3">
             {% for project in projects %}
            <div class="col-12 mb-3">
                <a class="btn btn-primary" href="{% url 'ppt_quote_detail' project.id %}">{{project.your_full_name}} - {{project.project_name}}</a> 
            </div>
            {% endfor %}
        </div>

    </div>
    
{% endblock %}

