{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid main-container bg-purple">
        <div class="row">
            <div class="col p-5 bg-white">
                <h5 class="bold-title montserrat-bold">Thanks for your interest, I am a bit overloaded with work and so not in a position to provide a quote right now for web design but please leave your contact details and requirements. I will get back to you at the earliest. </h5>
                <a class="btn btn-primary rounded-pill px-3 py-2 mt-4" href="{% url 'contact' %}">Go to Contact page</a>
            </div>
        </div>

    </div>
    
{% endblock %}

