{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid p-50">
        <div class="row">
            <div class="col-md-9">
                <h2 class="bold-title montserrat-bold">Shop</h2>
                
            </div>

            <div class="dropdown products-filter show dropleft">
                <a class="btn btn-primary products_dropdown-button dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by
                </a>
                <div class="dropdown-menu px-2" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'products' %}?category=ppt">PowerPoint templates</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=bootstrap">Bootstrap template</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=ppt,bootstrap">All</a>
                </div>
            </div>

            <div class="shopping-bag-container text-right">
                <a class="{% if total %} font-weight-bold{% else %}text-black{% endif %}" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div></div>
                        <p class="my-0"><i class="fas fa-shopping-bag fa-lg"></i>
                            {% if total %}
                                €{{ total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="container-fluid bg-white px-5 py-2">
        <div class="row">
            <div class="col-lg-9">
                <h4 class="bold-title montserrat-bold mt-4">A set of readymade templates for you</h4>
                <p>Don't stress yourself trying to create presentations or websites that capture viewers' attention. Take a look at the collection of prebuilt PowerPoint templates and Bootstrap templates which you can purchase from here.</p>
            </div>
            {% for product in products %}
            <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
                {% if product.image %}
                <div class="image-zoom">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="product-image my-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
                {% else %}
                <div class="image-zoom">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="product-image my-3" src="{{ MEDIA_URL }}No_image.jpg" alt="{{ product.name }}">
                    </a>
                </div>
                {% endif %}
                <a class="product-name-link" href="{% url 'product_detail' product.id %}">
                    <h5 class="montserrat-bold mt-1">{{ product.name }}</h5>
                </a>
                {% if request.user.is_superuser %}
                    <small >
                        <a href="{% url 'edit_product' product.id %}" class="mr-2">Edit</a>
                        <a class="text-danger confirm-delete" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Script for delete confirmation -->
    <script>
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this?');
        })
    </script>
{% endblock %}

