{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-md-9">
                <h2 class="bold-title montserrat-bold">A set of readymade templates for you</h2>
                <p>Don't stress yourself trying to create presentations that capture viewers' attention. Take a look at the collection of prebuilt PowerPoint templates which you can purchase from here.</p>
            </div>
            <div class="col-md-3">
                <div class="dropdown show dropleft ">
                    <a class="btn btn-primary products_dropdown-button dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'products' %}?category=ppt">PowerPoint templates</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=bootstrap">Bootstrap template</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=ppt,bootstrap">All</a>
                    </div>
                </div>
            </div>

            <div class="shopping-bag-container text-right">
                <a class="{% if grand_total %} font-weight-bold{% else %}text-black{% endif %}" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </div>

        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                {% if product.image %}
                <div class="image-zoom">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="product-image my-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
                {% else %}
                <div class="image-zoom">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="product-image my-3" src="{{ MEDIA_URL }}No_image.jpg" alt="{{ product.name }}">
                    </a>
                </div>
                {% endif %}
                <h5 class="montserrat-bold mt-2">{{ product.name }}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}